{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/site_media/css/mobile.css" type="text/css" media="all" />
{% endblock %}

{% block entire_body %}

    <div class="all">

        <div class="title-bar">
            <div class="error-message-holder" style="display:none;">
                <div class="error-timer"></div>
                <div class="error-message"></div>
                <div class="error-dismiss">Click bar to dismiss</div>
            </div>
            <div class="vcenter">
                <span id="controller_name">{% if is_red %}Red{% else %}Blue{% endif %} 
                    {% if is_low %}Short{% else %}Tall{% endif %}</span>
                Controller Match 
                <span class="match_number">x</span>
            </div>
        </div>

        <div class="controller-area">
            <div class="initial-state state">
                Waiting for Server.
            </div>
            <div class="prematch-state state" style="display: none;">
                Prematch for match <span class="match_number">x</span>
            </div>
            <div class="no-match-state state" style="display: none;">
                No match loaded into scoring device yet.
            </div>
            <div class="match-done-confirmed-state state" style="display: none;">
                Match <span class="match_number">x</span> done. Waiting for next match.
            </div>
            <div class="normal-state state {% if is_low %}halves{% else %}thirds{% endif %}" style="display: none;">

                <div class="left_scoring_col scoring_col">
                    <div class="scoring_cell level_3 {% if is_red %}blue{% else %}red{% endif %}">
                        <div class="vcenter">AV</div>
                    </div>
                    <div class="scoring_cell level_2 hide_for_low
                        {% if is_red %}blue{% else %}red{% endif %}"
                        {% if is_low %}style="display: none;"{% endif %}>
                        <div class="vcenter">High GV</div>
                    </div>
                    <div class="scoring_cell level_1 {% if is_red %}blue{% else %}red{% endif %}">
                        <div class="vcenter">Low GV</div>
                    </div>
                </div>
                <div class="right_scoring_col scoring_col">
                    <div class="scoring_cell level_3 {% if is_red %}red{% else %}blue{% endif %}">
                        <div class="vcenter">AV</div>
                    </div>
                    <div class="scoring_cell level_2 hide_for_low 
                        {% if is_red %}red{% else %}blue{% endif %}"
                        {% if is_low %}style="display: none;"{% endif %}>
                        <div class="vcenter">High GV</div>
                    </div>
                    <div class="scoring_cell level_1 {% if is_red %}red{% else %}blue{% endif %}">
                        <div class="vcenter">Low GV</div>
                    </div>
                </div>
            </div>

            <div class="center-state state {% if is_low %}halves{% else %}whole{% endif %}" style="display: none;">

                <div class="left_scoring_col scoring_col">
                    <div class="scoring_cell undo_score level_3 hide_for_low 
                        {% if is_red %}red{% else %}blue{% endif %}"
                        {% if is_low %}style="display: none;"{% endif %}>
                        <div class="vcenter">- AV</div>
                    </div>
                    <div class="scoring_cell undo_score level_2 hide_for_high
                        {% if is_red %}red{% else %}blue{% endif %}"
                        {% if not is_low %}style="display: none;"{% endif %}>
                        <div class="vcenter"><br />- High GV</div>
                    </div>
                    <div class="scoring_cell undo_score level_1 hide_for_high
                        {% if is_red %}red{% else %}blue{% endif %}"
                        {% if not is_low %}style="display: none;"{% endif %}>
                        <div class="vcenter"><br />- Low GV</div>
                    </div>
                </div>
                <div class="right_scoring_col scoring_col">
                    <div class="scoring_cell level_3 hide_for_low
                        {% if is_red %}red{% else %}blue{% endif %}"
                        {% if is_low %}style="display: none;"{% endif %}>
                        <div class="vcenter">+ AV</div>
                    </div>
                    <div class="score_count level_3 hide_for_low">
                        <div class="vcenter">0</div>
                    </div>
                    <div class="scoring_cell level_2 hide_for_high
                        {% if is_red %}red{% else %}blue{% endif %}"
                        {% if not is_low %}style="display: none;"{% endif %}>
                        <div class="vcenter"><br />+ High GV</div>
                    </div>
                    <div class="score_count level_2 hide_for_high">
                        <div class="vcenter">0</div>
                    </div>
                    <div class="scoring_cell level_1 hide_for_high
                        {% if is_red %}red{% else %}blue{% endif %}"
                        {% if not is_low %}style="display: none;"{% endif %}>
                        <div class="vcenter"><br />+ Low GV</div>
                    </div>
                    <div class="score_count level_1 hide_for_high">
                        <div class="vcenter">0</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="footer-bar">
            <div class="normal-state state vcenter">
                <div class="confirm-match-score" style="display:none;">
                    <a href="#" id="confirm_match_link">Done Scoring Match</a>
                </div>
            </div>
            <div class="center-state state vcenter" style="display:none;">
                <div class="return-to-normal" style="display:none;">
                    <a href="#" id="return_to_normal_link">Done Scoring Center</a>
                </div>
                <div class="confirm-match-score" style="display:none;">
                    <a href="#" id="confirm_match_link">Done Scoring Match</a>
                </div>
            </div>
        </div>

    </div>
{% endblock entire_body %}

{% block script %}
    {% include "mobile_scorer/script.html" %}
{% endblock %}
