<script type="text/javascript">
    $('.scoring_cell').click(function(e){
        e.preventDefault();
        obj = $(this) ;
        $.ajax({
            url: "{% url test_ajax %}",
            type: "GET",
            success: function(){
                obj.toggleClass("white_font") ;
            },
            cache: false
        });
    });
    var current_state = '' ;
    $('#return_to_normal_link').click(function(e){
        e.preventDefault();
        $.ajax({
            url: "{% url match_finished_scoring_center %}",
            type: "GET",
            cache: false,
            success: function(data){
                if(data.success==true)
                {
                    $("div.return-to-normal").hide() ;
                    $("div.state").hide() ;
                    $("div.normal-state").show() ;
                    current_state = 'normal' ;
                }
            }
        });
    });
    $('#confirm_match_link').click(function(e){
        e.preventDefault();
        $.ajax({
            url: "{% url match_finished_scoring_match %}",
            type: "GET",
            cache: false,
            success: function(data){
                if(data.success==true)
                {
                    $("div.confirm-match-score").hide() ;
                    $("div.state").hide() ;
                    $("div.match-done-confirmed-state").show() ;
                    current_state = 'match_done_confirmed' ;
                }
            }
        });
    });
    function check_status()
    {
        $.ajax({
            url: "{% url match_check_scorer_status %}",
            cache: false,
            success: function(data){
                $('span.match_number').html(data.current_match) ;
                if(current_state == 'no_match_reload' && data.current_state != 'no_match')
                {
                    location.reload() ;
                }
                if((data.current_state == 'normal' || data.current_state == 'match_done_not_confirmed')
                        && current_state != 'normal' && current_state != 'center')
                {
                    $("div.state").hide() ;
                    $("div.normal-state").show() ;
                    if(data.current_state != 'match_done_not_confirmed')
                        $("div.confirm-match-score").hide() ;
                    current_state = 'normal' ;
                }
                if(data.current_state == 'center' && current_state != 'center')
                {
                    $("div.state").hide() ;
                    $("div.return-to-normal").hide() ;
                    $("div.confirm-match-score").hide() ;
                    $("div.center-state").show() ;
                    current_state = 'center' ;
                }
                if(data.current_state == 'match_done_confirmed' && current_state != 'match_done_confirmed')
                {
                    $("div.state").hide() ;
                    $("div.match-done-confirmed-state").show() ;
                    current_state = 'match_done_confirmed' ;
                }
                if(data.current_state == 'prematch' && current_state != 'prematch')
                {
                    $("div.state").hide() ;
                    $("div.prematch-state").show() ;
                    current_state = 'prematch' ;
                }
                if(data.current_state == 'no_match' && (current_state != 'no_match' && current_state != 'no_match_reload'))
                {
                    $("div.state").hide() ;
                    $("div.no-match-state").show() ;
                    current_state = 'no_match' ;
                }
                if(data.current_state != 'center' && current_state == 'center')
                {
                    $("div.initial-state").hide() ;
                    $("div.return-to-normal").show() ;
                }
                if(data.current_state == 'match_done_not_confirmed' && current_state != 'match_done_not_confirmed')
                {
                    $("div.initial-state").hide() ;
                    $("div.confirm-match-score").show() ;
                }
            }
        });
    }
    setInterval(check_status, 500) ;
    check_status();
    {% if no_match %}
        $("div.state").hide() ;
        $("div.no-match-state").show() ;
        current_state = 'no_match_reload' ;
    {% endif %}
</script>
