<script type="text/javascript">
    {% include "mobile_scorer/action_queue.js" %}

    $('.scoring_cell').click(function(e){
        e.preventDefault();
        var obj = $(this) ;
        var level = 0 ;
        if (obj.is('.level_1')) level = 1 ;
        else if (obj.is('.level_2')) level = 2 ;
        else if (obj.is('.level_3')) level = 3 ;
        var alliance = '';
        if (obj.is('.red')) alliance = 'red' ;
        else if (obj.is('.blue')) alliance = 'blue' ;
        var data = {alliance: alliance, level: level} ;
        actions.push('score', data, true) ;
    });
    var current_state = '' ;
    $('#return_to_normal_link').click(function(e){
        e.preventDefault();
        $.ajax({
            url: "{% url match_finished_scoring_center %}",
            type: "GET",
            cache: false,
            success: function(data){
                if(data.success==true)
                {
                    $("div.return-to-normal").hide() ;
                    $("div.state").hide() ;
                    $("div.normal-state").show() ;
                    current_state = 'normal' ;
                }
            }
        });
    });
    $('#confirm_match_link').click(function(e){
        e.preventDefault();
        $.ajax({
            url: "{% url match_finished_scoring_match %}",
            type: "GET",
            cache: false,
            success: function(data){
                if(data.success==true)
                {
                    $("div.confirm-match-score").hide() ;
                    $("div.state").hide() ;
                    $("div.match-done-confirmed-state").show() ;
                    current_state = 'match_done_confirmed' ;
                }
            }
        });
    });
    function check_status()
    {
        $.ajax({
            url: "{% url match_check_scorer_status %}",
            cache: false,
            timeout: 1000,
            success: function(data){
                setTimeout(check_status, 500) ;
                $('span.match_number').html(data.current_match) ;
                if(current_state == 'no_match_reload' && data.current_state != 'no_match')
                {
                    location.reload() ;
                }
                if((data.current_state == 'normal' || data.current_state == 'match_done_not_confirmed')
                        && current_state != 'normal' && current_state != 'center')
                {
                    $("div.state").hide() ;
                    $("div.normal-state").show() ;
                    if(data.current_state != 'match_done_not_confirmed')
                        $("div.confirm-match-score").hide() ;
                    current_state = 'normal' ;
                }
                if(data.current_state == 'center' && current_state != 'center')
                {
                    $("div.state").hide() ;
                    $("div.return-to-normal").hide() ;
                    $("div.confirm-match-score").hide() ;
                    $("div.center-state").show() ;
                    current_state = 'center' ;
                }
                if(data.current_state == 'match_done_confirmed' && current_state != 'match_done_confirmed')
                {
                    $("div.state").hide() ;
                    $("div.match-done-confirmed-state").show() ;
                    current_state = 'match_done_confirmed' ;
                }
                if(data.current_state == 'prematch' && current_state != 'prematch')
                {
                    $("div.state").hide() ;
                    $("div.prematch-state").show() ;
                    current_state = 'prematch' ;
                }
                if(data.current_state == 'no_match' && (current_state != 'no_match' && current_state != 'no_match_reload'))
                {
                    $("div.state").hide() ;
                    $("div.no-match-state").show() ;
                    current_state = 'no_match' ;
                }
                if(data.current_state != 'center' && current_state == 'center')
                {
                    $("div.initial-state").hide() ;
                    $("div.return-to-normal").show() ;
                }
                if(data.current_state == 'match_done_not_confirmed' && current_state != 'match_done_not_confirmed')
                {
                    $("div.initial-state").hide() ;
                    $("div.confirm-match-score").show() ;
                }
            }
        });
    }
    check_status();
    {% if no_match %}
        $("div.state").hide() ;
        $("div.no-match-state").show() ;
        current_state = 'no_match_reload' ;
    {% endif %}
    

    $( document ).ready( function() {
        var setBodyScale = function() {
            var scaleSource = $('body').width(),
                scaleFactor = 0.40,
                scoringScaleFactor = 0.3,
                maxScale = 170,
                minScale = 100;

            var fontSize = scaleSource * scaleFactor;

            if (fontSize > maxScale) fontSize = maxScale;
            if (fontSize < minScale) fontSize = minScale;

            var scoringFontSize = scaleSource * scoringScaleFactor;
            
            if (scoringFontSize > maxScale) scoringFontSize = maxScale;
            if (scoringFontSize < minScale) scoringFontSize = minScale;

            $('body').css('font-size', fontSize + '%');
            $('.scoring_cell').css('font-size', scoringFontSize + '%');
        }

        $(window).resize(function(){
            setBodyScale();
        });

        //Fire it when the page first loads:
        setBodyScale();
    });
</script>
