<div>
    Match Event Log
</div>

<div id="event_log">
    {% for event in match.matchevent_set.all %}
    <div class="match_event">
        <span class="float match_event_scorer">{{ event.scorer.username }}</span>
        <span class="float match_event_alliance light-{% if 'red' == event.alliance %}red{% else %}blue{% endif %}">
            {{ event.alliance|title }}
        </span>
        <span class="float match_event_unscored">
            &nbsp;{% if event.undo_score %}removed{% else %}scored{% endif %}&nbsp;
        </span>
        <span class="float match_event_level">
            {% if event.level == 1 %}Low GV{% else %}
            {% if event.level == 2 %}High GV{% else %}
            {% if event.level == 3 %}AV{% endif %}
            {% endif %}{% endif %}
        </span>
        <span class="float"> on&nbsp;</span>
        <span class="float match_event_tower_1">
            {% if 'high_' in event.tower.name %}High{% else %}
            {% if 'low_' in event.tower.name %}Low{% else %}Center{% endif %}
            {% endif %}
        </span>
        <span class="float match_event_tower_2 {% if 'center' != event.tower.name %}light-{% if '_red' in event.tower.name %}red{% else %}blue{% endif %}{% endif %}">
            {% if 'center' != event.tower.name %}
                {% if '_red' in event.tower.name %}Red{% else %}Blue{% endif %}
            {% else %}&nbsp;{% endif %}
        </span>
        <span class="float">&nbsp;&nbsp;</span>
        <span class="float match_event_delete">
            <a href="#" name="{{ event.id }}" class="delete_event_link">Delete</a>
        </span>
    </div>
    <span class="cl"></span>
    {% endfor %}
</div> 
    
    <div class="match_event" id="match_event_template" style="display:none;">
        <span class="float match_event_scorer"></span>
        <span class="float match_event_alliance"></span>
        <span class="float match_event_unscored">&nbsp;scored&nbsp;</span>
        <span class="float match_event_level"></span>
        <span class="float"> on&nbsp;</span>
        <span class="float match_event_tower_1"></span>
        <span class="float match_event_tower_2"></span>
        <span class="float">&nbsp;&nbsp;</span>
        <span class="float match_event_delete">
            <a href="#" class="delete_event_link">Delete</a>
        </span>
    </div>
