<div>
    Score
</div>

<div>
    <table style="margin-left:auto; margin-right:auto; text-align:left;">
        <tr>
            <td></td><th>Blue</th><th>Red</th>
        </tr>
        <tr>
            <th>&nbsp;Base Score</th>
            <td><input size="5" type="text" id="blue_score_pre_penalty" 
                value="{{ match.blue_score_pre_penalty }}" 
                {% if timer_dict.match_state != 'done' %}disabled="disabled"{% endif %} /></td>
            <td><input size="5" type="text" id="red_score_pre_penalty"
                value="{{ match.red_score_pre_penalty }}"
                {% if timer_dict.match_state != 'done' %}disabled="disabled"{% endif %} /></td>
        </tr>
        <tr>
            <th>- &nbsp;Penalties</th>
            <td><input size="5" type="text" id="blue_penalties" value="{{ match.blue_penalties }}"
                {% if timer_dict.match_state != 'done' %}disabled="disabled"{% endif %} /></td>
            <td><input size="5" type="text" id="red_penalties" value="{{ match.red_penalties }}"
                {% if timer_dict.match_state != 'done' %}disabled="disabled"{% endif %} /></td>
        </tr>
        <tr>
            <th>+ Bonuses</th>
            <td><input size="5" type="text" id="blue_bonus" value="{{ match.blue_bonus }}"
                {% if timer_dict.match_state != 'done' %}disabled="disabled"{% endif %} /></td>
            <td><input size="5" type="text" id="red_bonus" value="{{ match.red_bonus }}"
                {% if timer_dict.match_state != 'done' %}disabled="disabled"{% endif %} /></td>
        </tr>
        <tr>
            <th>= Totals</th>
            <td id="blue_score">{{ match.blue_score }}</td>
            <td id="red_score">{{ match.red_score }}</td>
        </tr>
    </table>
</div>

<div>
    <button {% if timer_dict.match_state != 'done' %}disabled="disabled"{% endif %}
        id="save_scores">Save Scores</button>
</div>
