{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/scorekeeper.css" type="text/css" media="all" />
{% endblock %}

{% block entire_body %}
<div class="all">
    <div class="float ninth"> 
        {% with tc=towers.low_red name="Low Red" machine_name="low_red" %}
        {% include "scorekeeper/tower.html" %}
        {% endwith %}
    </div>
    <div class="float ninth"> 
        {% include "scorekeeper/match.html" %}
    </div>
    <div class="float ninth"> 
        {% with tc=towers.low_blue name="Low Blue" machine_name="low_blue" %}
        {% include "scorekeeper/tower.html" %}
        {% endwith %}
    </div>

    <div class="float light-blue ninth"> 
        {% with color="Blue" alliance=alliances.blue %}
        {% include "scorekeeper/alliance.html" %}
        {% endwith %}
    </div>
    <div class="float ninth"> 
        {% include "scorekeeper/score.html" %}
    </div>
    <div class="float light-red ninth">
        {% with color="Red" alliance=alliances.red %}
        {% include "scorekeeper/alliance.html" %}
        {% endwith %}
    </div>

    <div class="float ninth"> 
        {% with tc=towers.high_blue name="High Blue" machine_name="high_blue" %}
        {% include "scorekeeper/tower.html" %}
        {% endwith %}
    </div>
    <div class="float ninth"> 
        {% include "scorekeeper/log.html" %}
    </div>
    <div class="float ninth"> 
        {% with tc=towers.high_red name="High Red" machine_name="high_red" %}
        {% include "scorekeeper/tower.html" %}
        {% endwith %}
    </div>
</div>
{% endblock entire_body %}

{% block script %}
    {% include "scorekeeper/script.html" %}
{% endblock %}
