<div class="{% if 'Red' in name %}light-red{% else %}light-blue{% endif %}">
    {{ name }} Tower
</div>

<div>
    Scorer: 
    <span id="scorer_span_{{ machine_name }}">
        <span id="scorer_span_{{ machine_name }}_static"
            {% if timer_dict.match_state == 'pre_match' %}style="display:none;"{% endif %}>
            {{ tc.scorer }}</span>
        <span id="scorer_span_{{ machine_name }}_dynamic"
            {% if timer_dict.match_state != 'pre_match' %}style="display:none;"{% endif %}>
            <select class="scorer_select" id="scorer_select_{{ machine_name }}" name="{{ machine_name }}">
                <option class="default" value="0">Select a Scorer</option>
                {% if tc.scorer %}
                <option value="{{ tc.scorer_id }}" selected="selected">{{ tc.scorer }}</option>
                {% endif %}
                {% for scorer in sd_avail %}
                <option value="{{ scorer.scorer.id }}">{{ scorer.scorer.username }}</option>
                {% endfor %}
            </select>
        </span>
    </span>
</div>

<div>
    Submitted :
    <span class="confirmed confirmed_{{ machine_name }} {% if tc.confirmed %}green{% else %}red{% endif %}">
        &nbsp;&nbsp;&nbsp;&nbsp;
    </span>
</div>

<div>
    Last Contact: <span class="last_contact_{{ machine_name }}">{{ tc.last_contact }}</span>
</div>

<div>
    Last Event Recieved: <span class="last_event_{{ machine_name }}">{{ tc.last_event }}</span>
</div>
