<div class="title-bar medium">
    <div class="dt">
        <div class="vcenter" id="timer_title"></div>
    </div>
</div>
<div class="main-bar very-large">
    <div class="third-wide-edges red">
        <div class="dt">
            <div class="vcenter" id="timer_red_score"></div>
        </div>
    </div>
    <div class="third-wide-center">
        <div class="dt">
            <div class="vcenter" id="timer_main_timer"></div>
        </div>
    </div>
    <div class="third-wide-edges blue">
        <div class="dt">
            <div class="vcenter" id="timer_blue_score"></div>
        </div>
    </div>
</div>
<div class="on-center-timer-bar very-large">
    <div class="third-wide-edges">
        <div class="dt">
            <div class="vcenter" id="timer_red_on_center"></div>
        </div>
    </div>
    <div class="third-wide-center"></div>
    <div class="third-wide-edges">
        <div class="dt">
            <div class="vcenter" id="timer_blue_on_center"></div>
        </div>
    </div>
</div>
